@import 'src/scss/variables';

.content {
  border: 1px solid red;
  cursor: pointer;
  left: 0;
  max-width: 15rem;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: translate(0, 0);
  transition: transform $quick-transition-duration $transition-function;
  user-select: none;
  z-index: 2;

  &::after {
    background-color: var(--primary-color);
    bottom: 0;
    content: '';
    height: 0.8rem;
    left: 0;
    position: absolute;
    right: 0;
    transform: scaleX(0);
    transition: transform $quick-transition-duration $transition-function;
  }

  &::before {
    background-color: var(--primary-color);
    bottom: -0.5rem;
    content: '';
    height: 1rem;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transform: rotate(45deg) scale(0);
    transition: transform $quick-transition-duration $transition-function;
    width: 1rem;
  }

  &.visible {
    pointer-events: all;

    &::before {
      transform: rotate(45deg) scale(1);
    }

    &::after {
      transform: scaleX(1);
    }

    .inner-content {
      transform: scaleY(1);
    }
  }
}

.inner-content {
  background-color: var(--card-bg-color);
  display: flex;
  flex-direction: column;
  max-height: 18rem;
  padding: 1rem;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform $quick-transition-duration $transition-function
  $quick-transition-duration;
}

.countries {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding-left: 1rem;
}

.item {
  list-style: disc;
}
