@import 'src/scss/variables';

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.input {
  display: none;

  & + label {
    background-color: var(--card-bg-color);
    border: 0.05rem solid var(--text-color);
    border-radius: 0.3rem;
    cursor: pointer;
    padding: 0.35rem 0.9rem;
    transform: scale(1);
    transition: all $quick-transition-duration $transition-function;

    &:hover {
      opacity: 0.8;
      transform: scale(0.9);
    }
  }

  &:checked + label {
    opacity: 0.8;
    transform: scale(0.9);
  }
}
