@import 'src/scss/variables';

.container {
  background-color: var(--card-bg-color);
  border-radius: 0.3rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: box-shadow $transition-duration $transition-function;
  width: 100%;

  &:hover {
    box-shadow: $smooth-shadow;
  }
}

.img {
  max-height: 13rem;
  object-fit: cover;
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
}
