@import 'src/scss/variables';

.container {
  background-color: var(--card-bg-color);
  display: flex;
  min-height: 2rem;
  width: 100%;
}

.item {
  flex: 1;
}

.button {
  box-shadow: 0.01rem 0.01rem 0.2rem var(--shadow-btn);
  cursor: pointer;
  padding: 1rem;
  width: 100%;

  &.active,
  &:hover,
  &:active {
    box-shadow: inset 0.15rem 0.15rem 0.3rem var(--shadow-btn);
  }
}
