@import 'src/scss/variables';

.container {
  display: grid;
  grid-gap: 2.5rem 1.5rem;
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: $break-point) {
  .container {
    grid-template-columns: 1fr;
  }
}
