@import './scss/normalize';
@import './scss/typography';
@import './scss/colors';
@import './scss/buttons';
@import './scss/margins';

body {
  background-color: var(--background-color);
  font-family: 'Heroic', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
