:root {
  --text-color: #282c34;
  --background-color: #f7f6f4;
  --loader-bg: rgba(0, 0, 0, 0.15);
  --loader-bg-stripes: rgba(0, 0, 0, 0.7);
  --loader-bg-radar: rgba(0, 0, 0, 0.6);
  --shadow-btn: rgba(0, 0, 0, 0.3);
  --primary-color: #354f3c;
  --btn-primary-color: #fff;
  --input-bg-color: #e7e4df;
  --error-color: #ed4337;
  --secondary-color: #ab222a;
  --navbar-text-color: #fff;
  --card-bg-color: #fff;
  --currency-color-1: #f0a608;
  --currency-color-2: #ffd84c;
  --currency-color-3: #d57e08;
  --currency-color-4: #ffbd0b;
}
