:root {
  --text-color: #282c34;
  --background-color: #f7f6f4;
  --loader-bg: rgba(0, 0, 0, 0.15);
  --loader-bg-stripes: rgba(0, 0, 0, 0.7);
  --loader-bg-radar: rgba(0, 0, 0, 0.6);
  --shadow-btn: rgba(0, 0, 0, 0.3);
  --primary-color: #354f3c;
  --btn-primary-color: #fff;
  --input-bg-color: #e7e4df;
  --error-color: #ed4337;
}
