// Transitions
$transition-duration: 290ms;
$transition-function: cubic-bezier(0.79, 0.01, 0.38, 0.99);
$quick-transition-duration: 200ms;

// General
$break-point: 40rem;
$content-width: 75rem;
$smooth-shadow: 0.2rem 0.2rem 0.3rem rgba(0, 0, 0, 0.2);

// Colors
$white: #FFF;
$porcelan: #E4E6CA;
$light-blue-1: #ADE1F8;
$light-blue-2: #93C2D5;
$light-yellow-1: #FADF7E;
$light-yellow-2: #DCC35E;
$gray-1: #3D4145;
$gray-2: #1E1E1D;
